.Banner{
    background-image: url("../Images/banner1.jpg");
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: right bottom , left top;
    background-color: rgb(104, 204, 240);
}
.Coupons{
    background-color:  rgb(210, 235, 237);
}
.footer{
    background-color: #222e3a;
    color: gray;
    margin-top: 50px;
    height: 400px;

}
.footer ul a li{
    list-style: none;
    padding: 7px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

}
.footer ul a{
    text-decoration: none;
    color: white;
}
.icons a{
    color: chartreuse;
}